$color: #BF9B77;
$color_2: #434343;
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family_2: 'Cinzel', serif;